/* .text-primary {
    color: chocolate !important;
}

.btn-outline-primary {
    color: chocolate !important;
    border-color: chocolate !important;
    outline: chocolate !important;
}

.btn-outline-primary:hover{
    color: whitesmoke !important;
    background-color: chocolate !important;
}

.text-primary {
    color: chocolate !important;
} */